<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		https://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		https://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="JpaDbBairroDao" primary="true"
		class="br.edu.utfpr.td.tsi.DAO.JPA.JpaBairroDao"></bean>

	<bean id="JpaDbPacienteDao" primary="true"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.jpa.JpaPacienteDao"></bean>

	<bean id="MongoBairroDAO" primary="false"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.mongodb.MongoDbBairroDao"></bean>

	<bean id="MongoDbPacienteDao" primary="false"
		class="br.edu.utfpr.td.tsi.posto.saude.dao.mongodb.MongoDbPacienteDao"></bean>


</beans>