<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Especialidade</title>
</head>
<body class="bg-primary-dark">
    <label>Especialidade:</label>
    <select name="medico.especialidade">
        <option value="0">Selecione a especialidade</option>
        <option th:each="especialidade : ${especialidades}" 
            th:value="${especialidade.id}" th:text="${especialidade.nome}"></option>
        
    </select>   
</body>
</html>