<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body class="flex flex-col h-screen w-full bg-primary-dark dark:bg-gray-700">
    <div class="flex w-full h-full">
      <aside
        class="flex justify-center p-4 bg-primary-dark dark:bg-gray-700 min-w-96"
      >
        <div class="self-center p-16 bg-white dark:bg-gray-800">
          <div
            class="self-center p-1 rounded-xl bg-primary-dark dark:bg-primary-light"
          >
            <div
              class="m-4 bg-white dark:bg-gray-800 rounded-xl overflow-hidden shadow-2xl"
            >
              <div class="max-w-sm overflow-hidden w-[20rem]">
                <div class="px-6 py-10">
                  <h3
                    class="p-3 text-2xl font-medium text-primary-dark dark:text-primary-light text-center"
                  >
                    Seja bem-vindo!
                  </h3>
                  <div>
                    <div class="w-full mt-4 flex justify-center">
                      <button class="px-2 py-2 text-xl font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 dark:bg-blue-600 rounded-lg hover:bg-blue-900 hover:bg-opacity-80 focus:outline-none focus:ring focus:ring-blue-950 focus:ring-opacity-50 w-44">
                        Acesso Paciente
                      </button>
                    </div>
                    <div class="w-full mt-4 flex justify-center">
                      <button class="px-2 py-2 text-xl font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-red-600 dark:bg-red-600 rounded-lg hover:bg-red-900 hover:bg-opacity-80 focus:outline-none focus:ring focus:ring-red-950 focus:ring-opacity-50 w-44">
                        Acesso Medico
                      </button>
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </aside>
      <main
        class="flex justify-center items-center h-full w-full bg-white dark:bg-gray-800"
      >
        <div>
          <div class="flex justify-center p-4">
            <div class="flex justify-center p-4">
              <img
                src="assets/image/medic.png"
                class="w-24 h-24 animate-bounce"
                alt="Medical icon"
              />
            </div>
            <h1
              class="text-7xl font-bold text-primary-dark dark:text-primary-light"
            >
              Posto de Saúde Web
            </h1>
          </div>
          <div class="flex justify-center -mt-16">
            <span class="text-xl text-gray-700 dark:text-gray-300">
              Sistema de gerenciamento de postos de saúde
            </span>
          </div>
        </div>
      </main>
    </div>
    <footer
      class="bg-primary-dark dark:bg-gray-700 text-white dark:text-gray-900 text-center p-4"
    >
      <p>Posto de Saúde Web</p>
    </footer>
  </body>
</html>
